#logs {
  width: 785px;
  min-height: 40px;
  border: 1px solid black;
}

#logs li {
  height: 20px;
}

#buttons {
  list-style: none;
  padding:0;
  overflow: hidden;
}

#buttons li {
  cursor: pointer;
  background: #CCC;
  border: 1px solid black;
  text-align: center;
  width: 80px;
  float:left;
  margin:0 10px;
}